<section class="my-order-modal-directive">
    <div id="{{idModal}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="orderModalLabel" ng-bind="title"></h4>
                </div>
                <div class="modal-body">
                    <form name="customerForm" novalidate>
                        <div class="form-group">
                            <label for="customerName">Nombre</label>
                            <input ng-model="customer.name" type="text" name="customerName" class="form-control" id="customerName" placeholder="Ej: Joaquin Olvera" required>
                            <div class="help-block" ng-messages="customerForm.customerName.$error" ng-if="submitted && customerForm.customerName.$invalid">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Lo sentimos! </strong>
                                    <span>Ingrese este dato por favor.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customerAddress">Dirección</label>
                            <input ng-model="customer.address" type="text" name="customerAddress" class="form-control" id="customerAddress" placeholder="Ej: Calzada Villaplata 613 #1, Residencial Alcazar" required>
                            <div class="help-block" ng-messages="customerForm.customerAddress.$error" ng-if="submitted && customerForm.customerAddress.$invalid">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Lo sentimos! </strong>
                                    <span>Ingrese este dato por favor.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customerPhone">Telefono</label>
                            <input ng-model="customer.phone" type="text" name="customerPhone" class="form-control" id="customerPhone" placeholder="Ej: 449-100-2000" required>
                            <div class="help-block" ng-messages="customerForm.customerPhone.$error" ng-if="submitted && customerForm.customerPhone.$invalid">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Lo sentimos! </strong>
                                    <span>Ingrese este dato por favor.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customerEmail">Correo electronico</label>
                            <input ng-model="customer.email" type="email" name="customerEmail" class="form-control" id="customerEmail" placeholder="Ej: joaquin.olvera@gmail.com" required>
                            <div class="help-block" ng-messages="customerForm.customerEmail.$error" ng-if="submitted && customerForm.customerEmail.$invalid">
                                <div class="alert alert-danger" role="alert">
                                    <strong>Lo sentimos! </strong>
                                    <span>Ingrese un correo valido.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button ng-click="makeOrder()" ng-disabled="submitted && customerForm.$invalid" type="button" class="btn btn-primary">Realizar pedido</button>
                </div>
            </div>
        </div>
    </div>
</section>