@mixin nav-font-mixin {
    // Change font family of Bootstrap's navbar-brand
    font-family: 'Roboto';
    font-weight: 900;

    // Change color of Bootstrap's navbar-brand
    color: $inverse-color;
}