// Import mixins

// Styles for myAdvantages directive
my-advantages {
    .my-advantages-directive {
        margin-top: 10px;
        margin-bottom: 10px;
        .advantage-container {
            padding: 10px 40px;

            border: 1px solid $border-color;
            border-radius: 3px;

            background-color: $advantages-color;
            
            .header {
                img {
                    height: 50px; 
                }
            }
            .content {
                height: 100px;
                
                h4 {
                    color: $inverse-color;
                    font-family: Pacifico,sans-serif;
                    font-size: 2.5rem;
                }
            }
        }
        .advantage-container:hover {
            cursor: pointer;
            background-color: $gray-light-color;
        }
    }
}