// Styles for myCartDetail directive
my-cart-detail {
    .my-cart-detail-directive {
        border-bottom: 1px solid $gray-bold-color;
        .cart-detail-container {
            padding: 0.5rem 0;
            font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
            img {
                height: 4rem;
                margin-top: 1.5rem;
                margin-left: 1rem;
            }
            .remove-icon {
                span {
                    color: $red-color;
                    font-size: 3rem;
                }
            }
        }
    }
}