<section class="my-lead-magnet-modal-directive">
    <div id="{{idModal}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="leadMagnetModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="leadMagnetModalLabel" ng-bind="title"></h4>
                </div>
                <div class="modal-body">
                    <form name="customerForm" novalidate>
                        <div class="form-group">
                            <label for="customerName" ng-bind="messages.name"></label>
                            <input ng-model="customer.name" type="text" name="customerName" class="form-control" id="customerName" placeholder="Ej: Mayra Jimenez" required>
                            <div class="help-block" ng-messages="customerForm.customerName.$error" ng-if="submitted && customerForm.customerName.$invalid">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-bind="messages.apologies"></strong>&nbsp;
                                    <span ng-bind="messages.inputRequired"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="customerEmail" ng-bind="messages.email"></label>
                            <input ng-model="customer.email" type="email" name="customerEmail" class="form-control" id="customerEmail" placeholder="Ej: mayra.jimenez@gmail.com" required>
                            <div class="help-block" ng-messages="customerForm.customerEmail.$error" ng-if="submitted && customerForm.customerEmail.$invalid">
                                <div class="alert alert-danger" role="alert">
                                    <strong ng-bind="messages.apologies"></strong>&nbsp;
                                    <span ng-bind="messages.emailInvalid"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-bind="messages.close"></button>
                    <button ng-click="obtainRecipes()" ng-disabled="submitted && customerForm.$invalid" type="button" class="btn btn-primary" ng-bind="messages.leadMagnet.button"></button>
                </div>
            </div>
        </div>
    </div>
</section>