<section class="my-cart-directive">
    <div class="icon-cart-container">
        <div class="pull-right">
            <div class="icon" ng-click="toggleCart()">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" ng-class="{'open': isCartShowed}"></span>
                <span class="total" ng-bind="getTotalCart()"></span>
            </div>
        </div>
    </div>
    <div class="cart-container" ng-if="isCartShowed">
        <div class="resume">
            <div class="clearfix">
                <div>
                    <h3 class="header">
                        <span class="badge">{{cart | totalProducts | number}}</span>
                        <strong class="title" ng-bind="messages.company"></strong>
                    </h3>
                </div>
                <div>
                    <button class="btn checkout">
                        <span>{{cart | totalCart | currency}}</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="items">
            <div class="promotion">
                <strong ng-bind="messages.delivery"></strong>
            </div>
            <my-cart-detail product="product" ng-repeat="product in cart"></my-cart-detail>
        </div>
        <div class="checkout">
            <button
                ng-disabled="validateProducts()"
                type="button"
                class="btn btn-lg btn-block checkout"
                data-toggle="modal" 
                data-target="#{{idModal}}">
                    <span ng-bind="messages.checkoutButton"></span>
            </button>
            <button
                type="button"
                class="btn btn-lg btn-block"
                ng-click="toggleCart()">
                    <span ng-bind="messages.close"></span>
            </button>
        </div>
    </div>
</section>