// Import mixins
@import '../../mixins/stretch-image';

// Styles for myLeadMagnet directive
my-lead-magnet {
    .my-lead-magnet-directive {
        // Add a top margin due fixed navbar
        margin-top: 6.5rem;
        .container {
            max-width: 1024px;
            .jumbotron {
                // Stretch the presentation image
                @include stretch-image-mixin("../images/lead-magnet/background.jpg", 516px);
                .lead-magnet-image {
                    img {
                        width: 100%;
                    }
                }
                .lead-magnet-content {
                    background-color: $lead-magnet-color;
                    padding: 1rem 2rem;
                    .title {
                        font-family: 'Pacifico', sans-serif;
                        font-size: 5rem;
                        color: $pink-bold-color;
                    }
                    .lead {
                        margin: 2rem 0;
                        font-family: 'Dosis', sans-serif;
                        font-size: 3.3rem;
                    }
                    .benefits {
                        margin: 1rem 0;
                        li {
                            font-family: 'Roboto', sans-serif;
                            font-size: 2.4rem;
                        }
                    }
                    .send-button {
                        margin-top: 3rem;
                        .btn {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 3.5rem;
                        }
                    }
                    .confidential {
                        .confidential-text {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }
}