<section class="my-product-category-directive">
    <div class="container-fluid">
        <div class="product-category-container">
            <h2 class="category-title" ng-bind="category.name"></h2>
            <div id="carousel-{{category.name | lowercase}}" class="carousel slide" data-interval="false">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-repeat="products in sortedProducts track by $index" ng-class="{'active': isFirstElement($index)}">
                        <div class="row-fluid">
                            <div class="col-md-2" ng-repeat="product in products" ng-class="{'col-md-offset-1': isFirstElement($index)}">
                                <div class="product-container">
                                    <div class="product-image">
                                        <img class="img-responsive" ng-src="{{product.image.url}}">
                                    </div>
                                    <div class="product-details">
                                        <p>
                                            <strong>{{product.price | currency}}</strong>
                                            <span>&nbsp;&#47;&nbsp;</span>
                                            <em ng-bind="product.unity"></em>
                                        </p>
                                        <p ng-bind="product.name"></p>
                                        <em ng-bind="product.description"></em>
                                    </div>
                                    <div class="product-order clearfix">
                                        <div class="pull-right">
                                            <button class="btn btn-default" ng-click="removeProduct(product)" ng-if="product.cart.isAdded">
                                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                            </button>
                                            <button class="btn btn-default" ng-click="addProduct(product)">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                <span>&nbsp;Agregar</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-{{category.name | lowercase}}" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-{{category.name | lowercase}}" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
    </div>
</section>