// Import mixins
@import '../../mixins/nav-font';
@import '../../mixins/opacity';
@import '../../mixins/no-opacity';

// Styles for myNavbar directive
my-navbar {
    .my-navbar-directive {
        .navbar.navbar-default {
            // Change background color of Bootstrap's navbar-default
            background-color: $pink-light-color;
            border-color: $pink-light-color;
            background-image: none;
            // Change height size of Bootstrap's navbar-default
            min-height: 7rem;
            // Change margin bottom of Bootstrap's navbar
            margin-bottom: 0;
            .navbar-header {
                // Change height size and paddings of Bootstrap's navbar-brand
                .navbar-brand {
                    height: 7rem;
                    .brand {
                        @include nav-font-mixin;
                    }
                }
            }
            #myNavbar {
                .nav.navbar-nav {
                    margin-top: 1.5rem;
                    a {
                        @include nav-font-mixin;
                        // Add a margin when tab contains a description
                        .description {
                            margin-right: 1rem;
                        }
                        // Add opacity
                        .link {
                            @include opacity-mixin;
                            margin-right: 1rem;
                        }
                        // Add opacity effects
                        .link:hover {
                            @include no-opacity-mixin;
                        }
                    }
                    .my-social-container {
                        .pull-left {
                            // Add a padding to separate the social network icons
                            padding: 0 1rem 0 0;
                            .my-social-icon {
                                // Change heights for social icons
                                height: 3rem;
                                // Add opacity
                                @include opacity-mixin;
                            }
                            // Add opacity effects
                            .my-social-icon:hover {
                                @include no-opacity-mixin;
                            }
                        }
                    }
                }
            }
        }
    }
}