// Variable declaration
$pink-opacity-color: #EE80A7;
$pink-light-color: #EE5189;
$pink-bold-color: #E91069;
$inverse-color: #FFF;
$border-color: #CCC;
$gray-bold-color: #6A6967;
$gray-light-color: #7E7D7B;
$orange-color: #FAA519;
$red-color: #CE221E;
$footer-color: #222;
$recommendation-color: #F199B8;
$advantages-color: #AFAFAF;
$lead-magnet-color: #FFBBDA;
$product-selected-color: #FFDDEB;
// Screen sizes
$extra-small-devices: 320px;
$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;
// Project path
$project-path: absolute-path("..");
// Fonts declaration
@import 'https://fonts.googleapis.com/css?family=Roboto:400,900';
@import 'https://fonts.googleapis.com/css?family=Dosis:400,800';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=PT+Sans';
// Import Sass files 
@import 'directives/advantages/advantages';
@import 'directives/cart/cart';
@import 'directives/cart-detail/cart-detail';
@import 'directives/contact-form/contact-form';
@import 'directives/facebook/share-button/facebook-share-button';
@import 'directives/footer/footer';
@import 'directives/lead-magnet/lead-magnet';
@import 'directives/modal/modal';
@import 'directives/navbar/navbar';
@import 'directives/presentation/presentation';
@import 'directives/product-category/product-category';
@import 'directives/products/products';
@import 'directives/recommendations/recommendations';
@import 'directives/store-services/store-services';