// Variable declaration
$pink-opacity-color: #EE80A7;
$pink-light-color: #EE5189;
$pink-bold-color: #E91069;
$inverse-color: #FFF;
$border-color: #CCC;

$small-devices: 768px;
$medium-devices: 992px;
$large-devices: 1200px;

// Fonts declaration
@import 'https://fonts.googleapis.com/css?family=Roboto:400,900';
@import 'https://fonts.googleapis.com/css?family=Dosis:400,800';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=PT+Sans';

// Mixin declaration
@mixin nav-font-mixin {
    // Change font family of Bootstrap's navbar-brand
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 900;

    // Change color of Bootstrap's navbar-brand
    color: $inverse-color;
}

@mixin opacity-mixin {
    // Change opacity
    opacity: 0.7;
}

@mixin no-opacity-mixin {
    // Change opacity
    opacity: 1.0;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

@mixin no-container-paddings-mixin {
    // Remove left and right paddings of Bootstrap's container
    padding-left: 0px;
    padding-right: 0px;
}

@mixin stretch-image-mixin($url, $height) {
    // Make an image stretch
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: $height;
}

@mixin search-button-mixin {
    // Change size and color of search button
    font-size: 35px;
    color: $inverse-color;
}

@mixin font-color-mixin($color) {
    // Change font color
    color: $color;
}

@mixin services-font-mixin() {
    background-color: $pink-opacity-color;
    color: $inverse-color;
    font-family: 'Pacifico', sans-serif;
    opacity: 0.8;
}

@mixin callout_mixin() {
    background-color: $inverse-color;
    margin: 0 0 1rem 0;
    padding: 1rem 2rem;
    position: relative;
    color: #0a0a0a;
    border-radius: 5px;
}

@mixin product-font-mixin {
    font-family: 'Pacifico', sans-serif;
}

@mixin product-border-mixin {
    border-top: $border-color 1px solid;
    border-left: $border-color 1px solid;
    border-bottom: $border-color 1px solid;
}

@mixin product-border-last-mixin {
    border-right: $border-color 1px solid;
}

@mixin pink-button-mixin {
    color: $pink-bold-color;
    font-family: 'Roboto', sans-serif;
}

@mixin absolute-position-mixin {
    position: fixed;
    top: 36px;
    right: 0;
    width: 350px;
    z-index: 1000;
}

// Styles for myNavbar directive
my-navbar {
    .my-navbar-directive {
        .navbar.navbar-default {
            // Change background color of Bootstrap's navbar-default
            background-color: $pink-light-color;
            border-color: $pink-light-color;
            background-image: none;

            // Change height size of Bootstrap's navbar-default
            min-height: 35px;

            // Change margin bottom of Bootstrap's navbar
            margin-bottom: 0px;

            .navbar-header {
                // Change height size and paddings of Bootstrap's navbar-brand
                .navbar-brand {
                    height: 35px;
                    padding: 8px 15px 7px 15px;

                    span {
                        @include nav-font-mixin;
                    }
                }
            }

            #myNavbar {
                .nav.navbar-nav {
                    a {
                        // Change paddings from Bootstrap's nav
                        padding-top: 8px;
                        padding-bottom: 7px;

                        @include nav-font-mixin;

                        // Add a margin when tab contains a description
                        .description {
                            margin-right: 10px;
                        }

                        // Add opacity
                        .link {
                            @include opacity-mixin;
                        }
                        // Add opacity effects
                        .link:hover {
                            @include no-opacity-mixin;
                        }
                    }
                    .my-social-container {
                        .pull-left {
                            // Add a padding to separate the social network icons
                            padding: 2px 0px 2px 15px;

                            .my-social-icon {
                                // Change heights for social icons
                                height: 30px;

                                // Add opacity
                                @include opacity-mixin;
                            }

                            // Add opacity effects
                            .my-social-icon:hover {
                                @include no-opacity-mixin;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Styles for myPresentation directive
my-presentation {
    .my-presentation-directive {
        // Add a top margin due fixed navbar
        margin-top: 35px;
        .container-fluid {

            // Remove paddings of Bootstrap's container
            @include no-container-paddings-mixin;

            .presentation-container {
                
                /* Extra small devices */
                @media (max-width: $small-devices) {
                    // Stretch the presentation image
                    @include stretch-image-mixin("../images/presentation/salad.jpg", 500px);
                }

                /* Small devices */
                @media (min-width: $small-devices) {
                    // Stretch the presentation image
                    @include stretch-image-mixin("../images/presentation/salad.jpg", 650px);
                }

                /* Medium devices */
                @media (min-width: $medium-devices) {
                    // Stretch the presentation image
                    @include stretch-image-mixin("../images/presentation/salad.jpg", 650px);
                }

                /* Large devices */
                @media (min-width: $large-devices) {
                    // Stretch the presentation image
                    @include stretch-image-mixin("../images/presentation/salad.jpg", 650px);
                }
                
                .jumbotron {
                    // Makes transparent the Bootstrap's Jumbotron background color
                    background-color: transparent;
                    .navbar {
                        // Add padding top for inner navbar
                        padding-top: 20px;

                        .navbar-header {
                            .navbar-brand {
                                .my-logo {
                                    // Move position of logo
                                    margin-top: -70px;
                                    margin-left: -20px;
                                }
                            }
                        }
                        #presentation-navbar {
                            .nav.navbar-nav {
                                .my-search {
                                    // Change position of search button
                                    margin-top: 20px;
                                    
                                    // Change size and color of search button 
                                    @include search-button-mixin;

                                    // Add opacity
                                    @include opacity-mixin;
                                    
                                }

                                .my-search:hover {
                                    // Add opacity effects
                                    @include no-opacity-mixin;
                                }
                            }
                        }
                    }
                    .presentation-content {
                        
                        /* Extra small devices */
                        @media (max-width: $small-devices) {
                            // Shows content at bottom
                            margin-top: 20px;
                        }
                        
                        /* Small devices */
                        @media (min-width: $small-devices) {
                            // Shows content at bottom
                            margin-top: 200px;
                        }

                        /* Medium devices */
                        @media (min-width: $medium-devices) {
                            // Shows content at bottom
                            margin-top: 200px;
                        }
                        
                        h1 {
                            font-family: 'Dosis', sans-serif;
                            font-weight: 700;
                            color: $pink-bold-color;
                        }

                        .presentation-description {
                            color: $inverse-color;
                            font-weight: bold;
                        }

                        .btn {
                            @include pink-button-mixin;
                            padding-left: 40px;
                            padding-right: 40px;
                        }
                    }
                }
            }
        }
        
    }
}

my-store-services {
    .my-services-directive {
        .jumbotron {
            background-color: transparent;
            margin-top: -150px;
            margin-bottom: 0;
            padding-bottom: 0;

            .container {

                // padding around store services blocks
                padding: 30px;
                background-color: $inverse-color;

                .service-container {
                    position: relative;
                    h1 {
                        // Make header appears inside the image
                        position: absolute;
                        width: 100%;
                        
                        // Change services fonts
                        @include services-font-mixin;

                        /* Extra small devices */
                        @media (max-width: $small-devices) {
                            // Shows content at bottom
                            margin-top: 70px;
                        }
                        
                        /* Small devices */
                        @media (min-width: $small-devices) {
                            // Shows content at bottom
                            margin-top: 200px;
                        }

                        /* Medium devices */
                        @media (min-width: $medium-devices) {
                            // Shows content at bottom
                            margin-top: 150px;
                        }
                        
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

my-recommendations {
    .my-recommendations-directive {
        background: #F199B8;
        .container {
            padding-bottom: 20px;
            .title {
                margin-bottom: 3rem;
                h1 {
                    font-family: 'Dosis', sans-serif;
                    font-weight: 700;
                }
            }
            .callout {
                @include callout_mixin;

                border-color: #F199B8;
                
                .profile {
                    .name {
                        font-family: 'Pacifico', sans-serif;
                        color: $pink-bold-color;
                    }
                    .company {
                        font-family: 'Dosis', sans-serif;
                        font-size: 17px;
                    }
                    .thumbnail {
                        width: 250px;
                        height: 250px;
                        border-radius: 100px;
                        border: none;
                        margin: 0 auto;
                    }
                }
                .comments {
                    margin-top: 25px;
                    .lead {
                        font-family: 'Dosis', sans-serif;
                        font-weight: 700;
                    }
                    .scrollable-container {
                        overflow-y: auto;
                        max-height: 125px;
                        .subheader {
                            font-family: 'Dosis', sans-serif;
                            font-size: 19px;
                        }
                    }
                }
                .site {
                    a {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        
                        background-color: $pink-light-color;
                        border: $pink-bold-color 1px solid;
                    }   
                }
            }
        }
    }
}
my-footer {
    .my-footer-directive {
        background-color: #222;
        color: $inverse-color;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;

        .container {
            padding-top: 40px;
            padding-bottom: 0px;
            .row {
                .columna {
                    border: $pink-light-color 1px solid;
                    height: 130px;
                    padding: 10px 20px;
                    .subtitle {
                        font-weight: 900;
                        font-size: 14px;
                        color: $pink-bold-color;
                    }
                    .logo {
                        height: 100px;
                        margin: 5px auto;
                    }
                    .link {
                        color: $inverse-color;
                    }
                }
                /* Medium devices */
                @media (min-width: $medium-devices) {
                    .columna:first-child {
                        border-right: none;
                    }
                    .columna:last-child {
                        border-left: none;
                    }
                }
            }
            /* Medium devices */
            @media (min-width: $medium-devices) {
                .row.ultima {
                    .columna {
                        border-top: none;
                    }
                }
            }
            .copyright {
                margin-top: 10px;
            }
        }
    }
}
my-products {
    .my-products-directive {
        // Add a top margin due fixed navbar
        margin-top: 35px;
    }
}
my-product-category {
    .my-product-category-directive {
        margin-bottom: 20px;
        .container-fluid {
            padding-left: 0;
            padding-right: 0;
            .product-category-container {
                .category-title {
                    margin-left: 8.33333333%;
                    @include product-font-mixin;
                }
                .carousel {
                    .carousel-inner {
                        margin: auto 0px;
                        .col-md-2 {
                            padding-left: 0;
                            padding-right: 0;
                            .product-container {
                                padding: 10px 20px;
                                @include product-border-mixin;
                                .product-image {
                                    img {
                                        margin: 0 auto;
                                    }
                                }
                                .product-details {
                                    min-height: 80px;
                                }
                                .product-order {
                                    button {
                                        @include pink-button-mixin;
                                    }
                                }
                            }
                        }
                        .col-md-2:last-child {
                             .product-container {
                                @include product-border-last-mixin;
                            }
                        }
                    }
                    .carousel-control {
                        width: 50px;
                    }
                    .carousel-control.left{
                        margin-left: 2%;
                        background-image: none;
                        color: $pink-light-color;
                    }
                    .carousel-control.right{
                        margin-right: 2%;
                        background-image: none;
                        color: $pink-light-color;
                    }
                }
            }
        }
    }
}
my-cart {
    .my-cart-directive {
        .icon-cart-container {
            .icon {
                margin: 20px 30px;
                cursor: pointer;
                .glyphicon {
                    font-size: 40px;
                    color: #EE5189;
                }
            }
        }
        @include absolute-position-mixin;
        .cart-container {
            border: 1px solid #6A6967;
            .resume {
                background-color: #6A6967;
                padding: 5px 10px;
                .clearfix {
                    margin-bottom: 10px;
                    .header {
                        .badge {
                            font-size: 13px;
                            background-color: #7E7D7B;
                        }
                        .title {
                            color: $inverse-color;
                            font-family: 'PT Sans', sans-serif;
                        }
                    }
                    .btn.checkout {
                        background-color: #7E7D7B;
                        color: $inverse-color;
                    }
                }
                .calendar {
                    font-family: 'PT Sans', sans-serif;
                    color: $inverse-color;
                }
            }
            .items {
                padding: 10px;
                background-color: $inverse-color;
                min-height: 275px;
                height: 275px;
                overflow-y: auto;
                overflow-x: hidden;
                .promotion {
                    font-family: 'PT Sans', sans-serif;
                    color: #6A6967;
                }
            }
            .checkout {
                padding: 10px;
                background-color: $inverse-color;
                .checkout {
                    background-color: #FAA519;
                    color: $inverse-color;
                }
            }
        }
    }
}
my-cart-detail {
    .my-cart-detail-directive {
        border-bottom: 1px solid #6A6967;
        .cart-detail-container {
            padding: 5px 0;
            img {
                height: 35px;
            }
            .remove-icon {
                span {
                    color: #CE221E;
                    font-size: 20px;
                }
            }
        }
    }
}